*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav .img_section img{
    width: 150px;
}
nav{
    height: 10vh;
    background-color: rgb(255,192,23);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 650px;
    position: fixed;
    width: 100%;
}
nav .nav_section ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 23px;
    list-style: none;
}
nav .nav_section ul a{
    color: black;
    text-decoration: none;
}
nav .nav_section ul button{
    border: none;
    height: 36px;
    width: 100px;
    background-color: black;
    color: white;
    border-radius: 200px;
}
.hero_section{
    height: 65vh;
    width: 100%;
    background-color: rgb(255,192,23);
    padding: 100px 10px 10px 150px;
}
.hero_section h1{
    font-size: 100px;
}
.hero_section p{
    font-size: 30px;
}
.hero_section button{
    border: none;
    background-color: black;
    color: white;
    height: 35px;
    width: 150px;
    border-radius: 200px;
    font-size: 17px;
    margin-top: 20px;
}
.heading{
    padding-left: 140px;
    margin-top: 70px;

}
.trending h4 img{
    border-radius: 20px;
}
.trending h3{
    margin-top: 5px;
    margin-bottom: 5px;
} 
.trending .div_1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 250px;
    margin-top: 40px;

}
.topic{
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 100px;
    margin-top: 120px;
}
.topic .content{
    display: flex;
    gap: 40px;
    margin-left: -50px;
    margin-bottom: 50px;
}
.topic .content .div img{
    border-radius: 200px;
}
.topic .img_section img{
    width: 80%;
}
.topic .content .div button{
    border: none;
    border-radius: 200px;
    height: 20px;
    width: 50px;
}
.discover_more {
    position:sticky;
    top: 100px;
}
.discover_more h1{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}

.discover_more .buttons .btn_1{
    height: 35px;
    border: none;
    border-radius: 200px;
    font-weight: 500;
    font-size: 14px;
    width: 120px;
}
.discover_more .buttons .btn_2{
    height: 35px;
    border: none;
    border-radius: 200px;
    font-weight: 500;
    font-size: 14px;
    width: 120px;
}
.discover_more .buttons .btn_3{
    height: 35px;
    border: none;
    border-radius: 200px;
    font-weight: 500;
    font-size: 14px;
    width: 120px;
}
.discover_more .buttons_1 .btn_1{
    height: 35px;
    border: none;
    border-radius: 200px;
    font-weight: 500;
    font-size: 14px;
    width: 120px;
}

.discover_more .buttons_1 .btn_2{
    height: 35px;
    border: none;
    border-radius: 200px;
    font-weight: 500;
    font-size: 14px;
    width: 90px;
}
.discover_more .buttons_1 .btn_3{
    height: 35px;
    border: none;
    border-radius: 200px;
    font-weight: 500;
    font-size: 14px;
    width: 120px;
}
.discover_more .buttons_1{
    margin: 20px 0px;
}

.discover_more .buttons_2 .btn_1{
    height: 35px;
    border: none;
    border-radius: 200px;
    font-weight: 500;
    font-size: 14px;
    width: 140px;
}

.discover_more .buttons_2 .btn_2{
    height: 35px;
    border: none;
    border-radius: 200px;
    font-weight: 500;
    font-size: 14px;
    width: 110px;
}
.discover_more .buttons_2 .btn_3{
    height: 35px;
    border: none;
    border-radius: 200px;
    font-weight: 500;
    font-size: 14px;
    width: 80px;
}
.discover_more .see p{
    margin: 20px 0px 70px 0px;
    color: green;
    font-weight: 600;

}
.discover_more .footer{
    display: flex;
    gap: 30px;
    margin: 20px 0px;
}
.line{
    height: 1px;
    background-color: black;
    width: 100%;
    position: fixed;
    top:72px ;
}

.mobile_nav{
    display: none;
}
.mobile_nav img{
    width: 150px;
}
.mobile_nav button{
    border: none;
    height: 36px;
    width: 100px;
    background-color: black;
    color: white;
    border-radius: 200px;
}

.mobile_discover_more{
    display: none;
}

.mobile_discover_more h1{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}

.mobile_discover_more .buttons .btn_1{
    height: 35px;
    border: none;
    border-radius: 200px;
    font-weight: 500;
    font-size: 14px;
    width: 120px;
}
.mobile_discover_more .buttons .btn_2{
    height: 35px;
    border: none;
    border-radius: 200px;
    font-weight: 500;
    font-size: 14px;
    width: 120px;
}
.mobile_discover_more .buttons .btn_3{
    height: 35px;
    border: none;
    border-radius: 200px;
    font-weight: 500;
    font-size: 14px;
    width: 120px;
    margin-top: 10px;
}
.mobile_discover_more .buttons_1 .btn_1{
    height: 35px;
    border: none;
    border-radius: 200px;
    font-weight: 500;
    font-size: 14px;
    width: 120px;
}

.mobile_discover_more .buttons_1 .btn_2{
    height: 35px;
    border: none;
    border-radius: 200px;
    font-weight: 500;
    font-size: 14px;
    width: 90px;
}
.mobile_discover_more .buttons_1 .btn_3{
    height: 35px;
    border: none;
    border-radius: 200px;
    font-weight: 500;
    font-size: 14px;
    width: 120px;
    margin-top: 10px;
}
.mobile_discover_more .buttons_1{
    margin: 20px 0px;
}

.mobile_discover_more .see p{
    margin: 20px 0px 70px 0px;
    color: green;
    font-weight: 600;

}
footer{
    display: none;
}

@media (max-width:1246px){
    nav{
        height: 11.3vh;
    }
}


@media (max-width:768px) {
    nav{
        display: none;
    }
    .mobile_nav{
        display: block;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: rgb(255,192,23);
        height: 11vh;
        position: fixed;
        top: 0;
        width: 100%;
        height: 11.3vh;
    }

    .hero_section h1{
        font-size: 50px;
    }
    .hero_section p{
        font-size: 20px;
    }
    .hero_section{
        padding-left: 40px;
    }
    .discover_more{
        display: none;
    }

    .heading{
        padding-left: 30px;
        margin-top: 10px;
    
    }

    .trending .div_1{
        flex-direction: column;
        gap: 20px;
        align-items: start;
        margin-left: 30px;
    }

    .topic{
        margin-top: 40px;
        margin-left: 70px;
    }

    .mobile_discover_more{
        display: block;
        margin-left: 30px;
        margin-top: 20px;
    }

    footer{
        display: block;
        background-color: black;
        color: white;
    }
    .medium{
        width: 40%;
    }
    footer div{
        display: flex;
        gap: 10px;
        margin-left: 20px;
    }
    footer .med{
        margin-left: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .content .div h3{
        font-size: 13px;
    }
    .content .div h4{
        font-size: 13px;
    }
    .content .div p{
        font-size: 11px;
    }
}